@model IEnumerable<UCRMS_V_1._0.Models.MyModels.Course>

@if (Model != null)
{
    <table class="table table-striped">
        <tr>
            <th>
                Code
            </th>
            <th>
                Name/Title
            </th>
            <th>
                Semester
            </th>
            <th>
                Assigned To
            </th>
        </tr>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester.Name)
                </td>
                <td>
                    @if (item.AssignTo != null)
                    {
                        @Html.DisplayFor(modelItem => item.AssignTo)
                    }
                    @if (item.AssignTo == null)
                    {
                        item.AssignTo = "Not Assigned Yet";
                        @Html.DisplayFor(modelItem => item.AssignTo)
                    }
                </td>
            </tr>
        }
    </table>
}
